<div>
    <header>
        <h1>{{homework.name}}</h1>
        <p class="lead">
            Please solve all the questions.
        </p>
    </header>
    <section ng-hide="finished">
        <button class="btn link-lrg" ng-disabled="$index>lastAnswered" ng-class="{'link-active':currentQuestion===$index}" ng-click="gotoQuestion($index)" ng-repeat="question in homework.questions">{{$index+1}}</button>
        <h2>{{question.question}}</h2>
        <h3 ng-repeat="answer in question.answers">
            <input type="radio" name="answer" ng-model="answer.correct" value="true" ng-change="setAnswered()">
            {{answer.answer}}
        </h3>
        <button class="btn btn-primary btn-lg" ng-click="nextQuestion()" ng-hide="currentQuestion===homework.questions.length-1" ng-disabled="!answered[currentQuestion]">Next Question</button>
        <button class="btn btn-success btn-lg" ng-click="submitHomework()" ng-show="currentQuestion===homework.questions.length-1" ng-disabled="!answered[currentQuestion]">Submit Homework</button>
    </section>
    <section ng-show="finished">
        <h2>Finished!</h2>
        <h3>Thank you for solving {{homework.name}}</h3>
    </section>
</div>