<div class="jumbotron">
    <h1>Welcome student</h1>
    <p class="lead">
        Please enter the Homework ID
    </p>
    <form role="form">
        <div class="form-group">
            <label class="sr-only" for="homeworkID">Homework ID</label>
            <input class="form-control input-lg" type="text" name="id" id="homeworkID" ng-model="homeworkID" placeholder="Enter homework id...">
        </div>
        <a class="btn btn-primary btn-lg" ng-href="/#/student/homework/{{homeworkID}}">
            Do the homework
        </a>
    </form>
</div>