<div>
    <header>
        <h1>{{lecture.name}}</h1>
    </header>

    <!--Answering Question-->
    <section ng-hide="finished||resultview||waiting">
        <h2>{{question.question}}</h2>
        <h3 ng-repeat="answer in question.answers">
            <input type="radio" name="answer" value="{{answer.answer}}" ng-model="answers[currentQuestion].answer" ng-change="setAnswered()">
            {{answer.answer}}
        </h3>
        <button class="btn btn-primary btn-lg" ng-click="answerQuestion()" ng-disabled="!answered">Answer Question</button>
    </section>

    <!--Waiting for Result-->
    <section ng-hide="finished||!waiting">
        <h4>Please Wait</h4>
    </section>

    <!--Showing Result-->
    <section ng-show="resultview" ng-hide="finished">
        <h4 ng-show="answers[currentQuestion].correct">Your answer {{answers[currentQuestion].answer}} was correct</h4>
        <h4 ng-hide="answers[currentQuestion].correct">Your answer {{answers[currentQuestion].answer}} was wrong, the correct answer was {{correctAnswer}}</h4>
    </section>

    <!--Lecture Finished-->
    <section ng-show="finished">
        <h2>Finished!</h2>
        <p>Thank you for solving {{lecture.name}}</p>
        <h3>Your Results:</h3>
        <div ng-repeat="answer in answers">
            <h4>{{answer.question}}</h4>
            <p ng-class="{'text-success':answer.correct,'text-danger':!answer.correct}">
                {{answer.answer}}
                <span class="glyphicon glyphicon-ok text-success" ng-show="answer.correct"></span>
                <span class="glyphicon glyphicon-remove text-danger" ng-hide="answer.correct"></span>
            </p>
        </div>
        <a class="btn btn-primary btn-lg" ng-href="/#/student">Back to home</a>
    </section>
</div>