<div>
    <h1>Student Login</h1>
    <p class="lead">
        Please login or register using your email.
    </p>
    <form name="loginForm" role="form">
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input id="email" ng-model="username" ng-change="reset()" class="form-control input-lg" type="email" placeholder="Email" required>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':passwordError}">
            <label class="control-label" for="password">Password</label>
            <input id="password" ng-model="password" class="form-control input-lg" type="password" placeholder="Password" required>
        </div>
        <div ng-show="passwordError" class="alert alert-danger">{{errorMessage}}</div>
        <div class="alert alert-info" ng-show="usernameError">
            <h4>You aren't registered yet</h4>
            <p>Would you like to register using the following email address: {{username}}?</p>
            <button class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="register()">Register</button>
        </div>
        <button class="btn btn-lg btn-primary" ng-disabled="loginForm.$invalid" ng-click="login()" ng-hide="usernameError">Login or Register</button>
    </form>
</div>
