<div>
    <header>
        <h1>Hello {{user.name}}</h1>
        <p class="lead">
            You currently have the following lectures and homework:
        </p>
    </header>

    <!--Live Lectures-->
    <section class="panel panel-primary" ng-show="lectures.available.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleLL()">Live Lectures</div>

        <div class="list-group" ng-hide="LL">
            <a class="list-group-item" ng-repeat="lecture in lectures.available" ng-href="/#/student/lectures/{{lecture._id}}">
                {{lecture.module.name}} - {{lecture.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Completed Lectures-->
    <section class="panel panel-primary" ng-show="lectures.completed.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleCL()">Completed Lectures</div>

        <div class="list-group" ng-hide="CL">
            <a class="list-group-item" ng-repeat="lecture in lectures.completed" ng-href="/#/student/lectures/{{lecture._id}}">
                {{lecture.module.name}} - {{lecture.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Available Homework-->
    <section class="panel panel-primary" ng-show="homework.available.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleAH()">Available Homework</div>

        <div class="list-group" ng-hide="AH">
            <a class="list-group-item" ng-repeat="work in homework.available" ng-href="/#/student/homework/{{work._id}}">
                {{work.module.name}} - {{work.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Completed Homework-->
    <section class="panel panel-primary" ng-show="homework.completed.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleCH()">Completed Homework</div>

        <div class="list-group" ng-hide="CH">
            <a class="list-group-item" ng-repeat="work in homework.completed" ng-href="/#/student/homework/{{work._id}}">
                {{work.module.name}} - {{work.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Subscribed Modules-->
    <section class="panel panel-info" ng-show="modules.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleSM()">
            Subscribed Modules
            <a href="" class="pull-right" ng-click="editing=true" ng-hide="editing">Edit</a>
            <a href="" class="pull-right" ng-click="editing=false" ng-show="editing">Done</a>
        </div>
        <div class="list-group" ng-hide="editing||SM">
            <a class="list-group-item" ng-repeat="module in modules" ng-href="">
                {{module.name}} by {{module.teacher.name}}
            </a>
        </div>
        <ul class="list-group" ng-show="editing">
            <li class="list-group-item" ng-repeat="module in modules">
                <p class="list-group-item-heading text-danger">
                    {{module.name}} by {{module.teacher.name}}
                    <button class="btn btn-danger btn-sm pull-right" ng-click="unsubscribeModule(module._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        unsubscribe
                    </button>
                </p>
            </li>
        </ul>
    </section>

    <!--Subscribe to Module-->
    <section class="panel" ng-class="{'panel-danger':subscribeError, 'panel-info':!subscribeError}">
        <div class="panel-heading" ng-click="toggleMS()">Subscribe to Module <span class="text-danger error" ng-hide="!errorMessage">- {{errorMessage}}</span></div>
        <div class="row panel-body" ng-hide="MS">
            <form class="form-inline" role="form" ng-submit="subscribeModule()">
                <div class="form-group col-md-4">
                    <label class="sr-only" for="subscribeModuleID">Subscribe Module ID Code</label>
                    <input class="form-control" id="subscribeModuleID" ng-model="module.id" type="text" name="name" placeholder="Module ID Code">
                </div>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    Subscribe
                </button>
            </form>
            <form class="form-inline" role="form" ng-submit="searchModules()">
                <div class="form-group col-md-4">
                    <label class="sr-only" for="searchModuleName">Search Modules by Name</label>
                    <input class="form-control" id="searchModuleName" ng-model="module.name" type="text" name="name" placeholder="Module Name">
                </div>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <span class="text-info error" ng-hide="!searchError">&nbsp;No search results</span>
            </form>
        </div>
    </section>

    <!--Search Results-->
    <section class="panel panel-info" ng-show="searchResults.length>0">
        <div class="panel-heading" ng-click="toggleSR()">Search Results</div>
        <ul class="list-group" ng-hide="SR">
            <li class="list-group-item" ng-repeat="module in searchResults">
                <p class="list-group-item-heading">
                    {{module.name}} by {{module.teacher.name}}
                    <button class="btn btn-success btn-sm pull-right" ng-click="subscribeModule(module.shortId)">
                        <span class="glyphicon glyphicon-plus"></span>
                        subscribe
                    </button>
                </p>
            </li>
        </ul>
    </section>
</div>
