<div>
    <!--Edit Profile-->
    <div class="pull-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#profileModal">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit Profile
        </button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
            <span class="glyphicon glyphicon-trash"></span>
            Delete Profile
        </button>
    </div>
    <header>
        <h1>Hello {{user.name}}</h1>
        <p class="lead">
            You currently have the following lectures and homework:
        </p>
    </header>

    <!--Live Lectures-->
    <section class="panel panel-primary" ng-show="lectures.available.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleLL()">Live Lectures</div>

        <div class="list-group" ng-hide="LL">
            <a class="list-group-item" ng-repeat="lecture in lectures.available" ng-href="/#/student/lectures/{{lecture._id}}">
                {{lecture.module.name}} - {{lecture.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Completed Lectures-->
    <section class="panel panel-primary" ng-show="lectures.completed.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleCL()">Completed Lectures</div>

        <div class="list-group" ng-hide="CL">
            <a class="list-group-item" ng-repeat="lecture in lectures.completed" ng-href="/#/student/lectures/{{lecture._id}}">
                {{lecture.module.name}} - {{lecture.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Available Homework-->
    <section class="panel panel-primary" ng-show="homework.available.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleAH()">Available Homework</div>

        <div class="list-group" ng-hide="AH">
            <a class="list-group-item" ng-repeat="work in homework.available" ng-href="/#/student/homework/{{work._id}}">
                {{work.module.name}} - {{work.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Completed Homework-->
    <section class="panel panel-primary" ng-show="homework.completed.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleCH()">Completed Homework</div>

        <div class="list-group" ng-hide="CH">
            <a class="list-group-item" ng-repeat="work in homework.completed" ng-href="/#/student/homework/{{work._id}}">
                {{work.module.name}} - {{work.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>
    </section>

    <!--Subscribed Modules-->
    <section class="panel panel-info" ng-show="modules.length>0" ng-cloak>
        <div class="panel-heading" ng-click="toggleSM()">
            Subscribed Modules
            <a href="" class="pull-right" ng-click="editing=true" ng-hide="editing">Edit</a>
            <a href="" class="pull-right" ng-click="editing=false" ng-show="editing">Done</a>
        </div>
        <div class="list-group" ng-hide="editing||SM">
            <a class="list-group-item" ng-repeat="module in modules" ng-href="">
                {{module.name}} by {{module.teacher.name}}
            </a>
        </div>
        <ul class="list-group" ng-show="editing">
            <li class="list-group-item" ng-repeat="module in modules">
                <p class="list-group-item-heading text-danger">
                    {{module.name}} by {{module.teacher.name}}
                    <button class="btn btn-danger btn-sm pull-right" ng-click="unsubscribeModule(module._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        unsubscribe
                    </button>
                </p>
            </li>
        </ul>
    </section>

    <!--Subscribe to Module-->
    <section class="panel" ng-class="{'panel-danger':subscribeError, 'panel-info':!subscribeError}">
        <div class="panel-heading" ng-click="toggleMS()">
            Subscribe to Module <span class="text-danger error" ng-hide="!errorMessage||passwordError">- {{errorMessage}}</span>
        </div>
        <div class="panel-body" ng-hide="MS">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="subscribeModuleID">Subscribe Module ID Code</label>
                        <input class="form-control" id="subscribeModuleID" ng-model="module.id" type="text" name="name" placeholder="Module ID Code">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="subscribeModule()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Subscribe
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="searchModuleName">Search Modules by Name</label>
                        <input class="form-control" id="searchModuleName" ng-model="module.name" type="text" name="name" placeholder="Module Name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="searchModules()">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                    <span class="text-info error" ng-hide="!searchError">&nbsp;No search results</span>
                </div>
            </div>
        </div>
    </section>

    <!--Search Results-->
    <section class="panel panel-info" ng-show="searchResults.length>0">
        <div class="panel-heading" ng-click="toggleSR()">Search Results</div>
        <ul class="list-group" ng-hide="SR">
            <li class="list-group-item" ng-repeat="module in searchResults">
                <p class="list-group-item-heading">
                    {{module.name}} by {{module.teacher.name}}
                    <button class="btn btn-success btn-sm pull-right" ng-click="subscribeModule(module.shortId)">
                        <span class="glyphicon glyphicon-plus"></span>
                        subscribe
                    </button>
                </p>
            </li>
        </ul>
    </section>

    <!--Edit Profile Modal-->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
                </div>

                <div class="modal-body">
                    <form name="passwordForm" role="form">
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" class="form-control" placeholder="Current Password..." ng-model="oldPassword" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password..." ng-model="newPassword" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password..." ng-model="confirmPassword" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="updatePassword()" ng-disabled="passwordForm.$invalid||newPassword!=confirmPassword">Change password</button>
                        </div>
                    </form>
                    <div ng-show="newPassword!=confirmPassword" class="alert alert-danger">Passwords do not match</div>
                    <div ng-show="passwordError" class="alert alert-danger">{{errorMessage}}</div>
                    <div ng-show="passwordSuccess" class="alert alert-success">Password saved successfully</div>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Profile Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">Delete Profile</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove your profile? This action can not be undone and you will lose all the data associated to your account.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteProfile()">Yes, Delete my profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
