<div>
    <header>
        <h1>{{lecture.name}}</h1>
        <p class="lead">
            This lecture contains the following Questions
        </p>
    </header>

    <!--Questions-->
    <section class="panel panel-primary" ng-show="lecture.questions.length>0" ng-cloak>
        <div class="panel-heading">
            Questions
            <a href="" class="white pull-right" ng-click="editing=true" ng-hide="editing">Edit</a>
            <a href="" class="white pull-right" ng-click="editing=false" ng-show="editing">Done</a>
        </div>

        <div class="list-group" ng-hide="editing">
            <a ng-repeat="question in lecture.questions" href="" class="list-group-item" data-toggle="modal" data-target="#questionModal" ng-click="editQuestion($index)">
                <h4 class="list-group-item-heading">Question{{$index+1}}</h4>
                <p class="list-group-item-text">
                    {{question.question}}
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                </p>
            </a>
        </div>

        <ul class="list-group" ng-show="editing">
            <li class="list-group-item" ng-repeat="question in lecture.questions">
                <h4 class="list-group-item-heading text-danger">
                    Question{{$index+1}}
                    <button class="btn btn-danger pull-right" ng-click="removeQuestion($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                        delete
                    </button>
                </h4>
                <p class="list-group-item-text text-danger">{{question.question}}</p>
            </li>
        </ul>
    </section>

    <!--Add Question Button-->
    <button class="btn btn-primary btn-lg margin-height-sm" data-toggle="modal" data-target="#questionModal" ng-click="addQuestion()">
        <span class="glyphicon glyphicon-plus"></span>
        Add Question
    </button>

    <!--Make Live Button-->
    <a ng-href="/#/teacher/lectures/live/{{lecture._id}}" class="btn btn-success btn-lg margin-height-sm" ng-click="makeLive()" ng-disabled="lecture.questions.length===0">
        <span class="glyphicon glyphicon-ok"></span>
        Make Lecture Live
    </a>

    <hr>

    <!--Lecture Configuration-->
    <section class="panel panel-info">
        <div class="panel-heading">Lecture Configuration</div>
        <div class="panel-body">
            <p><strong>Allow access to lecture without registering:</strong></p>
            <button class="btn btn-default margin-height-sm" ng-click="generateID()" ng-hide="lecture.accessID">
                <span class="glyphicon glyphicon-flash"></span>
                Generate Access ID
            </button>
            <button class="btn btn-danger margin-height-sm" ng-click="removeID()" ng-hide="!lecture.accessID">
                <span class="glyphicon glyphicon-trash"></span>
                Remove Access ID
            </button>
            <h3 ng-hide="!lecture.accessID" class="no-margin-top"><small>Students can join this lecture using the following ID:</small> <span class="id">{{lecture.accessID}}</span></h3>
            <div ng-show="lecture.accessID">
                <hr>
                <h5>Restrict access to students who know the Access ID and have a unique Student ID:</h5>
                <button class="btn btn-default margin-height-sm" ng-click="generateStudentIDs()" ng-hide="sIDList">
                    <span class="glyphicon glyphicon-flash"></span>
                    Generate Student IDs
                </button>
                <button class="btn btn-danger margin-height-sm" ng-click="removeStudentIDs()" ng-hide="!sIDList">
                    <span class="glyphicon glyphicon-trash"></span>
                    Remove Student IDs
                </button>
                <button class="btn btn-default margin-height-sm" data-toggle="modal" data-target="#sIDListModal" ng-hide="!sIDList">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    View List - {{sIDList.length}} IDs left
                </button>
                <h3 class="text-success no-margin-top" ng-hide="!sIDList"><small>Access Restricted </small><span class="glyphicon glyphicon-ok"></span></h3>
            </div>
        </div>
    </section>

    <hr>

    <!--Statistics-->
    <section ng-cloak>
        <h2>Statistics</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Question Statistics</h4>
                    </div>
                </div>
                <div class="row" ng-repeat="question in lecture.questions">
                    <div class="col-md-8">
                        <h5 class="stat-ans-header">{{question.question}}</h5>
                        <div class="statistic stat-ans">
                            <p ng-repeat="answer in question.answers">
                                <span class="margin-md"  ng-class="{'text-danger':!answer.correct,'text-success':answer.correct}">
                                    <em>{{answer.answer}}</em>:
                                </span>
                                answered {{answer.timesAnswered}} times
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="stat-ans-header text-overflow">Correctness</h5>
                        <div class="statistic stat-pie">
                            <canvas tc-chartjs-pie chart-data="question.chartData" width="100" height="100"></canvas>
                            <div class="pie-legend">
                                <ul>
                                    <li class="correct">{{question.rightScore}}% correct</li>
                                    <li class="wrong">{{question.wrongScore}}% wrong</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Lecture Statistics</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="statistic stat-text">
                            lecture completed <span class="stat">{{lecture.timesDone}}</span> times
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="statistic stat-text">
                            <span class="stat">{{understanding}}%</span> overall understanding
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Add Question Modal-->
    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Question</h4>
                </div>

                <div class="modal-body">
                    <form name="questionForm" role="form">
                        <div class="form-group">
                            <label class="control-label" for="question">Question</label>
                            <textarea id="question" ng-model="question.question" rows="4" class="form-control" placeholder="Type your question..." required></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="answer">Answers</label>
                            <div class="input-group" ng-repeat="answer in question.answers">
                                <input id="answer" type="text" class="form-control" ng-model="answer.answer" placeholder="Type your answer...">
                                 <span class="input-group-addon">
                                    correct
                                    <input type="checkbox" ng-model="answer.correct">
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" ng-click="removeAnswer($index)" ng-disabled="question.answers.length===1">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        delete
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="addAnswer()">Add Answer</button>
                        </div>
                    </form>

                    <div ng-show="saveSuccess" class="alert alert-success">Question saved Successfully</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveQuestion()" ng-disabled="questionForm.$invalid">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Student ID List Modal-->
    <div class="modal fade" id="sIDListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">Student ID List</h4>
                </div>
                <div class="modal-body">
                    Each ID can be used once to join this lecture.
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <p ng-repeat="id in sIDList.slice(0,sIDList.length/4)" class="id">{{id.sid}}</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <p ng-repeat="id in sIDList.slice(sIDList.length/4,sIDList.length/2)" class="id">{{id.sid}}</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <p ng-repeat="id in sIDList.slice(sIDList.length/2,(sIDList.length/4)*3)" class="id">{{id.sid}}</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <p ng-repeat="id in sIDList.slice((sIDList.length/4)*3,sIDList.length)" class="id">{{id.sid}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
