<div>
    <header>
        <h1>{{module.name}}</h1>
        <h4>Students can find this module using the following ID: {{module.shortId}}</h4>
        <p class="lead">
            This Module contains the following Lectures and Homework
        </p>
    </header>

    <!--Lectures-->
    <section class="panel panel-primary" ng-show="module.lectures.length>0" ng-cloak>
        <div class="panel-heading">
            Lectures
            <a href="" class="white pull-right" ng-click="editLectures=true" ng-hide="editLectures">Edit</a>
            <a href="" class="white pull-right" ng-click="saveLectures()" ng-show="editLectures">Done</a>
        </div>

        <div class="list-group" ng-hide="editLectures">
            <a ng-repeat="lecture in module.lectures" class="list-group-item" ng-href="/#/teacher/lectures/{{lecture._id}}">
                {{lecture.name}}
                <span ng-show="lecture.isLive" class="text-success"> - Live</span>
                <span ng-hide="lecture.isLive" class="text-danger"> - Offline</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>

        <ul class="list-group" ng-show="editLectures">
            <li class="list-group-item" ng-repeat="lecture in module.lectures">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="lecture.name" ng-change="saveLecture($index)">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeLecture($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                            delete
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <!--Add Lecture-->
    <section class="panel panel-info">
        <div class="panel-heading">Add New Lecture</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="newLectureName">New Lecture Name</label>
                        <input class="form-control" id="newLectureName" ng-model="lecture.name" type="text" name="name" placeholder="Lecture Name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addLecture()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add Lecture
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Homework-->
    <section class="panel panel-primary" ng-show="module.homework.length>0" ng-cloak>
        <div class="panel-heading">
            Homework
            <a href="" class="white pull-right" ng-click="editHomework=true" ng-hide="editHomework">Edit</a>
            <a href="" class="white pull-right" ng-click="saveHomeworks()" ng-show="editHomework">Done</a>
        </div>

        <div class="list-group" ng-hide="editHomework">
            <a ng-repeat="homework in module.homework" class="list-group-item" ng-href="/#/teacher/homework/{{homework._id}}">
                {{homework.name}}
                <span ng-show="homework.isLive" class="text-success"> - Live</span>
                <span ng-hide="homework.isLive" class="text-danger"> - Offline</span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>

        <ul class="list-group" ng-show="editHomework">
            <li class="list-group-item" ng-repeat="homework in module.homework">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="homework.name" ng-change="saveHomework($index)">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeHomework($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                            delete
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <!--Add Homework-->
    <section class="panel panel-info">
        <div class="panel-heading">Add New Homework</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="newHomeworkName">New Homework Name</label>
                        <input class="form-control" id="newHomeworkName" ng-model="homework.name" type="text" name="name" placeholder="Homework Name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addHomework()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add Homework
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Module Configuration-->
    <section class="panel panel-info" ng-cloak>
        <div class="panel-heading">Module Configuration</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Restrict Module To Following Email Domains:</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="restriction in module.emailRestrictions">
                            @{{restriction}}
                            <span class="glyphicon glyphicon-remove text-danger clickable" ng-click="removeEmailRestriction(restriction)"></span>
                        </li>
                    </ul>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <label class="sr-only" for="emailRestriction">Add Email Domain Restriction</label>
                        <input class="form-control" id="emailRestriction" ng-model="emailRestriction" type="text" name="name" placeholder="Email Domain">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addEmailRestriction()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add Email Domain Restriction
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
