<!DOCTYPE html>
<html ng-app="voteApp">
<head>
    <base href="/">
    <title>Student Vote System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <nav class="header" ng-cloak>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li ng-show="(user) && user.isTeacher">
                    <a href="/#/teacher">
                        <span class="glyphicon glyphicon-user"></span>
                        {{user.username}}
                    </a>
                </li>
                <li ng-show="(user) && !user.isTeacher">
                    <a href="/#/student">
                        <span class="glyphicon glyphicon-user"></span>
                        Student
                    </a>
                </li>
                <li ng-show="user">
                    <a ng-click="logout()" class="btn">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
            </ul>
            <h3 class="text-muted">Student Vote App</h3>
        </nav>

        <hr>

        <div ng-view=""></div>

        <hr>

        <footer>
            <p class="text-center"><small class="text-muted">gerwin glorieux - king's college london 2013-2014</small></p>
        </footer>
    </div>

    <!--Vendor Scripts-->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <!--Own Scripts-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/verify.js"></script>
    <script src="scripts/controllers/teacher/login.js"></script>
    <script src="scripts/controllers/teacher/teacher.js"></script>
    <script src="scripts/controllers/teacher/module.js"></script>
    <script src="scripts/controllers/teacher/lecture.js"></script>
    <script src="scripts/controllers/teacher/liveLecture.js"></script>
    <script src="scripts/controllers/teacher/homework.js"></script>
    <script src="scripts/controllers/student/login.js"></script>
    <script src="scripts/controllers/student/student.js"></script>
    <script src="scripts/controllers/student/lecture.js"></script>
    <script src="scripts/controllers/student/aIDLecture.js"></script>
    <script src="scripts/controllers/student/homework.js"></script>
    <script src="scripts/services/authentication.js"></script>
    <script src="scripts/services/modules.js"></script>
    <script src="scripts/services/lectures.js"></script>
    <script src="scripts/services/homework.js"></script>
    <script src="scripts/services/socket.js"></script>
</body>
</html>