.white {
    color: #fff;
}
.link-lrg {
    font-size: 1.8em;
    margin-right: 0.5em;
    font-weight: 500;
}
.link-active {
    text-decoration: underline;
    font-weight: 600;
}
.margin-sm {
    margin-left:1em;
}