<div>
    <header>
        <h1>Hello {{user.name}}</h1>
        <p class="lead">
            You currently have the following modules:
        </p>
    </header>

    <!--Modules-->
    <section class="panel panel-primary" ng-show="modules.length>0" ng-cloak>
        <div class="panel-heading">
            Modules
            <a href="" class="white pull-right" ng-click="editing=true" ng-hide="editing">Edit</a>
            <a href="" class="white pull-right" ng-click="saveModules()" ng-show="editing">Done</a>
        </div>

        <div class="list-group" ng-hide="editing">
            <a class="list-group-item" ng-repeat="module in modules" ng-href="/#/teacher/modules/{{module._id}}">
                {{module.name}}
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
        </div>

        <ul class="list-group" ng-show="editing">
            <li class="list-group-item" ng-repeat="module in modules">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="module.name" ng-change="saveModule($index)">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeModule($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                            delete
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </section>

    <!--Add Module-->
    <section class="panel panel-info">
        <div class="panel-heading">Add New Module</div>
        <div class="row panel-body">
            <form class="form-inline" role="form" ng-submit="addModule()">
                <div class="form-group col-md-4">
                  <label class="sr-only" for="newModuleName">New Module Name</label>
                  <input class="form-control" id="newModuleName" ng-model="module.name" type="text" name="name" placeholder="Module Name">
                </div>
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add Module
                </button>
            </form>
        </div>
    </section>
</div>
